{% extends 'base.html.twig' %}

{% form_theme postForm 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
{% endblock %}
{% block body %}
    <center><h1>Pridėti atsiskaitymą</h1></center>

    <div class="container">
        {{ form_start(postForm) }}
        {{ form_widget(postForm) }}
        <button type="submit" class="btn btn-primary">Pridėti</button>
        {{ form_end(postForm) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $( function() {
            $( ".js-datepicker" ).datepicker();
        } );
        $('.checkboxInput').click(function() {
            if (this.checked) $('.password').show();
            else $('.password').hide();
            console.log(this.checked);
        });
    </script>

{% endblock %}

