{% extends 'base.html.twig' %}

{% form_theme postForm 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.min.css">
{% endblock %}
{% block body %}
    {{ wo_render_breadcrumbs() }}
    <center><h1>Pridėti atsiskaitymą</h1></center>
    <div class="container">
        {{ form_start(postForm) }}
        {{ form_widget(postForm) }}
        <button type="submit" class="btn btn-primary">Pridėti</button>
        {{ form_end(postForm) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.min.js"></script>
    <script>
        var $building = null;
        $( function() {
            $( ".js-datepicker" ).datepicker();
        } );
        $('.js-timepicker').timepicker({ 'timeFormat': 'H:i', 'step': 15, 'minTime': '8:00am', 'maxTime': '8:00pm' });
        var $checkboxInput = $('#assignment_moreOptions');
        $checkboxInput.change(function() {
            if (this.checked) {
                var assignmentEvent =
                    "<div class='form-group' id='assignmentEvent'>" +
                        "<div id='assignment_assignmentEvent'>" +
                            "<div class='form-group'>" +
                                "<label class='control-label required' for='assignment_assignmentEvent_start'>Start</label>" +
                                "<input id='assignment_assignmentEvent_start' name='assignment[assignmentEvent][start]' required='required' class='js-timepicker form-control ui-timepicker-input' autocomplete='off' type='text'>" +
                            "</div>" +
                            "<div class='form-group'>" +
                                "<label class='control-label required' for='assignment_assignmentEvent_end'>End</label>" +
                                "<input id='assignment_assignmentEvent_end' name='assignment[assignmentEvent][end]' required='required' class='js-timepicker form-control ui-timepicker-input' autocomplete='off' type='text'>" +
                            "</div>" +
                            "<div class='form-group'>" +
                                "<label class='control-label required' for='assignment_assignmentEvent_building'>Building</label>" +
                                "<select id='assignment_assignmentEvent_building' name='assignment[assignmentEvent][building]' class='form-control'>";
                                        {% for i, building in buildings %}
                                            var buildingName = '{{ building.name }}';
                                            assignmentEvent = assignmentEvent + "<option value="+'{{ i }}'+" class='building_"+ buildingName.toLowerCase() +"'>"+ buildingName +"</option>";
                                        {% endfor %}
                                    assignmentEvent += "</select>" +
                            "</div>"+
                            "<div class='form-group'>" +
                                "<label class='control-label required' for='assignment_assignmentEvent_room'>Room</label>" +
                                "<select id='assignment_assignmentEvent_room' name='assignment[assignmentEvent][room]' class='form-control'>"+
                                "</select>" +
                            "</div>" +
                        "</div>" +
                    "</div>";
                $("#assignment").append(assignmentEvent);
                addRooms();
                updateRooms();
                $('.js-timepicker').timepicker({ 'timeFormat': 'H:i', 'step': 15, 'minTime': '8:00am', 'maxTime': '8:00pm' });
            }
            else {
                var item = document.getElementById("assignment_assignmentEvent");
                item.parentNode.removeChild(item);
            }
        });
        addRooms();
        updateRooms();
        function addRooms() {
            $("#assignment_assignmentEvent_room").empty();
            $building = $('#assignment_assignmentEvent_building');
            //var buildingName = ;
            {% for i, building in buildings %}
                //var building = '{{ building.name }}';
                if ($("#assignment_assignmentEvent_building :selected").text() == '{{ building.name }}')
                {
                    {% for i, room in building.rooms %}
                    //alert('{{ room.no }}');
                    var roomName = '{{ room.no }}'+' '+'{{ room.building.name }}';
                    $("#assignment_assignmentEvent_room").append("<option value="+'{{ i }}'+" class='room_"+ roomName.toLowerCase() +"'>"+ roomName +"</option>");
                    {% endfor %}
                }
                {% endfor %}
        }
        function updateRooms() {
            $building = $('#assignment_assignmentEvent_building');
            $building.change(function() {
                $("#assignment_assignmentEvent_room").empty();
                addRooms();
            });
        }
    </script>
{% endblock %}

