{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{ subject.name }}</h1>
            <h2 id="timeline">Atsiskaitymai</h2>
            {% if app.user.id == subject.coordinator.user.id %}
                <a class="btn btn-success" role="button" href="{{ path('lecturer_new_assignment', {'subject_id': subject.id})}}">Pridėti atsiskaitymą</a>
            {% endif %}
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Atsiskaitymas</th>
                <th>Terminas</th>
                <th>Svoris</th>
                <th>Tipas</th>
            </tr>
            {% for assignment in assignments %}
                <tr>
                    <td>{{ assignment.name }}</td>
                    <td>{{ assignment.deadline | date('Y-m-d')}}</td>
                    <td>{{ assignment.weight }}</td>
                    <td>{{ assignment.lectureType }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}