<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Tavo uni</a>
        </div>
        <ul class="nav navbar-nav">
            {% for i, item in menuItems %}
                {% if not item.children  %}
                    <li{% if item.route == active %} class="active"{% endif%}>
                        <a href="{{ path(item.route) }}">{{item.title}}{% if i == 0 and count != 0 %} <span id="count" class="badge progress-bar-info blink">{{ count }}</span>{% endif %}</a>
                    </li>
                {% else %}
                    <li class="dropdown {% if active == 'lecturer_show_posts' or active == 'lecturer_add_post' %}active{% endif%}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href={{ item.route }}>{{ item.title }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for child in item.children %}
                                <li><a href="{{ path(item.route, {(child.slugName): child.slugValue})}}">{{ child.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif%}
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a>{% if is_granted('ROLE_STUDENT') %}{{ app.user.student.name }}{% elseif is_granted('ROLE_LECTURER')%}{{ app.user.lecturer.name }}{% endif %}</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span>Atsijungti</a></li>
        </ul>
    </div>
</nav>