{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/timeline.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                    <div class="page-header">
                        <h1 id="timeline">Naujienos</h1>
                    </div>
                <ul class="timeline">
                    {% for i, post in posts %}
                        <li {{ i % 2 == 1 ? 'class="timeline-inverted"'}}>
                            <a class="timeline-badge {% if post.seenByStudents is empty %}info{% endif %}" data-toggle="collapse" href="#timeline-body-{{ post.id }}">
                                <i class="glyphicon glyphicon-info-sign {% if post.seenByStudents is empty %}blink{% endif %}"></i>
                            </a>
                            <div id="{{ post.id }}" class="timeline-panel {% if post.seenByStudents is empty %}bg-info{% endif %}">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">
                                        <a class="title" data-toggle="collapse" href="#timeline-body-{{ post.id }}">{{ post.title }}</a>
                                    </h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ post.publishedAt|date('Y-m-d H:i') }}</small></p>
                                </div>
                                <div id='timeline-body-{{ post.id }}' class="timeline-body collapse">
                                    <p>{{ post.content | raw}}</p>
                                </div>
                                <div class="timeline-body">
                                    <p><a href= '/#'><small class="text-muted">{{ post.subject.name }}</small></a></p>
                                    <p><small class="text-muted">{{ post.author.name }}</small></p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                {% include '@FullCalendar/Calendar/calendar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale-all.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/oneDayCalendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/seenPost.js') }}"></script>
{% endblock %}