{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs">
            {% for i, subject in subjects %}
                <li class={{ i == 0 ? 'active'}}><a data-toggle="tab" href="#{{ i }}">{{ subject.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for i, subject in subjects %}
                <div id="{{ i }}" class="tab-pane {{ i == 0 ? 'fade in active'}}">
                    <h3>{{ subject.name }}</h3>
                    <table class="table table-bordered">
                        <tr>
                            <th>Atsiskaitymas:</th>
                            {% for grade in subject.grades %}
                                <th>{{ grade.assignment.name }}</th>
                            {% endfor %}
                            <th rowspan="3" class="th3rows">Viso</th>

                        </tr>
                        <tr>
                            <th>Terminas:</th>
                            {% for grade in subject.grades %}
                                <td>{{ grade.assignment.deadline | date('Y-m-d') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Svoris:</th>
                            {% for grade in subject.grades %}
                                <td>{{ grade.assignment.weight }}</td>
                            {% endfor %}

                            {#<td>{{ subject.weightSum }}</td>#}
                        </tr>
                        <tr>
                            <th>Įvertinimas:</th>
                            {% for grade in subject.grades %}
                                <td class="
                            {% if grade.value >= grade.assignment.average %}bg-aboveAverage{% endif %}
                            {% if grade.value < 5 %}bg-below5
                            {% elseif grade.value < grade.assignment.average %}bg-belowAverage{% endif %}"
                                >{{ grade.value }}</td>
                            {% endfor %}
                            <td class="
                                {% if subject.gradeSum >= subject.average %}bg-aboveAverage{% endif %}
                                {% if subject.gradeSum < 5 %}bg-below5
                                {% elseif subject.gradeSum < subject.average %}bg-belowAverage{% endif %}"
                            >{{ subject.gradeSum }}</td>
                        </tr>
                        <tr>
                            <th>Vidurkis:</th>
                            {% for grade in subject.grades %}
                                <td>{{ grade.assignment.average }}</td>
                            {% endfor %}
                            <td>{{ subject.average }}</td>
                        </tr>

                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}