{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/timeline.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/horizontal-timeline/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/horizontal-timeline/reset.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <section class="cd-horizontal-timeline">
                <div class="timeline">
                    <div class="events-wrapper">
                        <div class="events">
                            <ol>
                                <li><a href="#0" data-date="16/01/2014" class="selected">01-16</a></li>
                                <li><a href="#0" data-date="28/01/2014">01-17</a></li>
                                <li><a href="#0" data-date="20/02/2014">02-20</a></li>
                                <li><a href="#0" data-date="20/03/2014">03-20</a></li>
                                <li><a href="#0" data-date="29/03/2014">03-29</a></li>
                                <li><a href="#0" data-date="30/03/2014">03-30</a></li>
                                <li><a href="#0" data-date="20/04/2014">04-20</a></li>
                                <li><a href="#0" data-date="30/04/2014">04-30</a></li>
                                <li><a href="#0" data-date="15/05/2014">05-15</a></li>
                                <li><a href="#0" data-date="01/06/2014">06-01</a></li>
                                <li><a href="#0" data-date="10/06/2014">06-10</a></li>
                            </ol>

                            <span class="filling-line" aria-hidden="true"></span>
                        </div> <!-- .events -->
                    </div> <!-- .events-wrapper -->

                    <ul class="cd-timeline-navigation">
                        <li><a href="#0" class="prev inactive">Prev</a></li>
                        <li><a href="#0" class="next">Next</a></li>
                    </ul> <!-- .cd-timeline-navigation -->
                </div> <!-- .timeline -->

                <div class="events-content">
                    <ol>
                        <li class="selected" data-date="16/01/2014">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </li>

                        <li data-date="28/01/2014">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </li>
                    </ol>
                </div> <!-- .events-content -->
            </section>

        </div>
        <div class="row">
            <div class="col-md-8">
                    <div class="page-header">
                        <h1 id="timeline">Naujienos</h1>
                    </div>
                <ul class="timeline">
                    {% for i, post in posts %}
                        <li {{ i % 2 == 1 ? 'class="timeline-inverted"'}}>
                            <a class="timeline-badge {% if not (app.user.student in post.seenByStudents) %}info{% endif %}" data-toggle="collapse" href="#timeline-body-{{ post.id }}">
                                <i class="glyphicon glyphicon-info-sign {% if not (app.user.student in post.seenByStudents) %}blink{% endif %}"></i>
                            </a>
                            <div id="{{ post.id }}" class="timeline-panel {% if not (app.user.student in post.seenByStudents) %}bg-info{% endif %}">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">
                                        <a class="title" data-toggle="collapse" href="#timeline-body-{{ post.id }}">{{ post.title }}</a>
                                    </h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ post.publishedAt|date('Y-m-d H:i') }}</small></p>
                                </div>
                                <div id='timeline-body-{{ post.id }}' class="timeline-body collapse">
                                    <p>{{ post.content | raw}}</p>
                                </div>
                                <div class="timeline-body">
                                    <p><a href= '/#'><small class="text-muted">{{ post.lecture.subject.name }}</small></a></p>
                                    <p><small class="text-muted">{{ post.author.name }}</small></p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                {% include '@FullCalendar/Calendar/calendar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale-all.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/oneDayCalendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/horizontal-timeline.js') }}"></script>
{% endblock %}