{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grades</h1>
    <ul class="nav nav-tabs">
        {% for subject in subjects %}
            <li class="active"><a data-toggle="tab" href="#{{ subject.id }}">{{ subject.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for subject in subjects %}
            <div id="{{ subject.id }}" class="tab-pane fade in active">
                <h3>{{ subject.name }}</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>Atsiskaitymas:</th>
                        {% for grade in subject.grades %}
                            <td>{{ grade.assignment.name }}</td>
                        {% endfor %}
                        <td>Surinkti balai</td>
                    </tr>
                    <tr>
                        <th>Svoris:</th>
                        {% for grade in subject.grades %}
                            <td>{{ grade.assignment.weight }}</td>
                        {% endfor %}
                        <td>{{ subject.weightSum }}</td>
                    </tr>
                    <tr>
                        <th>Įvertinimas:</th>
                        {% for grade in subject.grades %}
                            <td>{{ grade.value }}</td>
                        {% endfor %}
                        <td>{{ subject.gradeSum }}</td>
                    </tr>

                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}