{% extends '::base.html.twig' %}

{% block body %}
    <h2>Grades</h2>
    <table class="table table-bordered">
        <tr>
            <th>Studentas</th>
            {% for grade in students[0].grades %}
                <th>{{ grade.assignment.name }}</th>
            {% endfor %}
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                {% for grade in student.grades %}
                    <td id="{{ grade.id }}"><input type="number" min="0" max="10" class="grade-value" value="{{ grade.value }}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/editGrade.js') }}"></script>
{% endblock %}